extends layout.pug 

block content
    div.container
        h1.intro-msg This app will allow users to create, delete and update posts.
        a.featured(href = '/create') Create post
block footer
    div.container 
        h3 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service.
        h4 Student number: 00017286