extends layout.pug 

block content
    div.container
        h1.intro-msg Welcome to WEB Blog App! Create, update and delete posts with us!
        a.create_btn(href= '/create') Create post
block footer
    div.container 
        h4 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service. Student number: 00017286.